<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoZilla"
        tools:targetApi="31" >
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".addcafe.EditCafe"
            android:exported="false" />
        <activity
            android:name=".addcafe.AddCafe"
            android:exported="false" />
        <activity
            android:name=".addgym.EditGym"
            android:exported="false" />
        <activity
            android:name=".addgym.AddGym"
            android:exported="false" />
        <activity
            android:name=".addschool.EditSchool"
            android:exported="false" />
        <activity
            android:name=".addschool.AddSchool"
            android:exported="false" />
        <activity
            android:name=".addhome.EditHome"
            android:exported="false" />
        <activity
            android:name=".addhome.AddHome"
            android:exported="false" />
        <activity
            android:name=".addwork.EditWork"
            android:exported="false" />
        <activity
            android:name=".addwork.AddWork"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".fragments.MenuFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.NotificationFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.DevicesFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.PlaceFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.PeopleFragment"
            android:exported="true" >
        </activity>
        <activity
            android:name=".activities.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".activities.NeedsHelp"
            android:exported="false" />
        <activity
            android:name=".activities.HistoryLocation"
            android:exported="false" />
        <activity
            android:name=".activities.Geozillawelcome"
            android:exported="false" />
        <activity
            android:name=".activities.RealTimeLocationScreen"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mygeozilla.page.link"
                    android:pathPrefix="/6SuK"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
        </activity>

        <receiver android:name=".geofencer.GeofenceBroadcastReceiver"
            android:enabled="false"
            />
    </application>

</manifest>